<div class="row">
    <div class="col-md-6">
        
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Login
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login to your account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               <div class="form">
                <div class="formGroup">
                    <label for="name">User Name:</label>
                    <input type="text" name="" id="userLogin">
                </div>
                <div class="formGroup">
                    <label for="name">Password:</label>
                    <input type="text" name="" id="passLogin">
                </div>
                {{!-- <button class="login btn">Login</button><br> --}}
                {{!-- <a href="/signup">Sign Up Page</a> --}}
            </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="login btn">Login</button>
            </div>
            </div>
        </div>
        </div>

        <br>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
        Signup
        </button>
</div>
</div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sign up a new account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
              <div class="form">
        <div class="formGroup">
            <label for="name">Name:</label>
            <input type="text" name="" id="nameSign">
        </div>
        <div class="formGroup">
            <label for="name">User Name:</label>
            <input type="text" name="" id="userSign">
        </div>
        <div class="formGroup">
            <label for="name">Password:</label>
            <input type="text" name="" id="passSign">
        </div>
        <div class="formGroup">
            <label for="name">Pin:</label>
            <input type="text" name="" id="pinSign">
        </div>
     
    </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary signup">Sign Up</button>
            </div>
            </div>
        </div>
        </div>
     
        {{!-- </div> --}}



