<div class="container">
    <div class="form">
        <div class="formGroup">
            <label for="name">Name:</label>
            <input type="text" name="" id="nameSign">
        </div>
        <div class="formGroup">
            <label for="name">User Name:</label>
            <input type="text" name="" id="userSign">
        </div>
        <div class="formGroup">
            <label for="name">Password:</label>
            <input type="text" name="" id="passSign">
        </div>
        <div class="formGroup">
            <label for="name">Pin:</label>
            <input type="text" name="" id="pinSign">
        </div>
        <button class="signup btn">Sign Up</button><br>
        <a href="/">Login Page</a>
    </div>
</div>