<head>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="../assets/styles/landing.css">
  <script src="../assets/js/landing.js"></script>
</head>

<header>
  <div class="nav1">
    <img src="../assets/images/logo_transparent.png" alt="">
    <h1>Blueprinting the Future</h1>
  </div>
  <nav>

    <div class="atag logShow" data-show="formLogin" data-hide="formSignup">Login</div>
    <div class="atag signShow" data-show="formSignup" data-hide="formLogin">Sign Up</div>
  </nav>

</header>
<body>

<div class="formArea">
  <div id="formLogin" class="form">
    <div class="formGroup">
      <label for="name">User Name:</label><br>
      <input type="text" name="" id="userLogin"><br>
    </div>
    <div class="formGroup">
      <label for="name">Password:</label><br>
      <input type="text" name="" id="passLogin"><br>
    </div>
    <button class="login btn">Login</button><br>
  </div>
  <div id="formSignup" class="form">
    <div class="formGroup">
      <label for="name">Name:</label><br>
      <input type="text" name="" id="nameSign"><br>
    </div>
    <div class="formGroup">
      <label for="name">User Name:</label><br>
      <input type="text" name="" id="userSign"><br>
    </div>
    <div class="formGroup">
      <label for="name">Password:</label><br>
      <input type="text" name="" id="passSign"><br>
    </div>
    <div class="formGroup">
      <label for="name">Pin:</label><br>
      <input type="text" name="" id="pinSign"><br>
    </div>
    <button class="signup btn">Sign Up</button><br>
  </div>
</div>
<br>

  <div class="jumbotron jumbotron-fluid" id="jumbo">
    <div class="container">
      <h1 class="display-4">Why are our children not taught about finance?</h1>
      <br>
      <div class="container" id="fact">
        <p class="lead">Fact: Only 24 percent of millennials demonstrate basic financial literacy, according to a study
          from the National Endowment for Financial Education.<br>
          The scary part is, 69% rated themselves with high levels of financial literacy</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">

      <div class="col-6 col-6-sm">
        
        <div class="card" style="width: 32.5rem;">

          <div class="card-body">
      
            <p class="card-text">Introducing Building Blocks: The easy way to start teaching your children;<br> -How
              saving works (ages 5-12) <br>-How to set small goals (ages 5-18) <br> -How to invest (ages 16-18)<br> -How
              credit works (ages 16-18)<br>-How to buy a home and much more</p><br>
            <p id="p1">We help build communication between you and your child about their financial futures</p>

          </div>
        </div>

      </div>

      <div class="col-6 col-6-sm">

        <div class="card" style="width: 32.5rem;">

          <div class="card-body">
            <p class="card-text">Heres How it Works: <br> 1. Assign positive reinforcement tasks like getting a good
              grade or washing the car <br> 2. Let them earn!<br> 3. Let us help track their progress<br>4. Today a
              small toy, and down the road a gaming sysytem, bike or even a car!</p><br>
            <p id="p1">The goal is building the habit of saving and investing by continually growing financial
              intelligence throughout childhood</p>

          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="column" id="middle">
      <img src="assets/images/kid1.jpeg" height="155">
      <img src="assets/images/kid2.jpeg" height="155">
      <img src="assets/images/kid3.jpeg" height="155">
      <img src="assets/images/kid4.jpeg" height="155">
      <img src="assets/images/kid17.jpeg" height="155">
      <img src="assets/images/kid18.jpeg" height="155">
      <img src="assets/images/kid19.jpeg" height="155">



    </div>
    <div class="column" id="middle">
      <img src="assets/images/kid5.jpeg" height="155">
      <img src="assets/images/kid6.jpeg" height="155">
      <img src="assets/images/kid7.jpeg" height="155">
      <img src="assets/images/kid8.jpeg" height="155">
      <img src="assets/images/kid20.jpeg" height="155">
      <img src="assets/images/kid21.jpeg" height="155">
      <img src="assets/images/kid27.jpeg" height="155">
      <img src="assets/images/kid28.jpeg" height="155">



    </div>
    <div class="column" id="middle">
      <img src="assets/images/kid9.jpeg" height="155">
      <img src="assets/images/kid10.jpeg" height="155">
      <img src="assets/images/kid11.jpeg" height="155">
      <img src="assets/images/kid12.jpeg" height="155">
      <img src="assets/images/kid22.jpeg" height="155">
      <img src="assets/images/kid23.jpeg" height="155">
      <img src="assets/images/kid24.jpeg" height="155">


    </div>
    <div class="column" id="middle">
      <img src="assets/images/kid13.jpeg" height="150">
      <img src="assets/images/kid14.jpeg" height="150">
      <img src="assets/images/kid15.jpeg" height="150">
      <img src="assets/images/kid16.jpeg" height="150">
      <img src="assets/images/kid25.jpeg" height="150">
      <img src="assets/images/kid26.jpeg" height="150">
      <img src="assets/images/kid29.jpeg" height="150">
      <img src="assets/images/kid30.jpeg" height="150">



    </div>
  </div>

  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <div class="card mb-3" style="max-width: 900px;">
        <div class="row no-gutters">

          <div class="card-body">

            <p class="card-text">Growing up is tough! Noone wants to take away the joy of being a kid. <br>Our goal: <br>
              inform, prepare, and assist<br> kids to be ready for the financial responsibilities that await them as an adult</p>
            <p class="card-text"><small class="text-muted">As a parent, one of your joys is seeing your child
                succeed...we're here to help</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
  </div>
</body>
<br>
<br>
<hr class="line">
<hr class="line">
<footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
  <div class="container">
    <div class="row row-30">

      <div class="col-md-4 col-xl-5">
        <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light" src="assets/logo" alt=""
              width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
          <p class="rights">Building Blocks</p>

          <p class="rights"><span>Project 2</span>
            <br>
            <span>2019</span>
        </div>
      </div>
      <div class="col-md-4">
        <h5>Contact Us</h5>

        <dl class="contact-list">
          <dt>email:</dt>
          <dd><a href="mailto:#">Project2@UCF.com</a></dd>
        </dl>
        <dl class="contact-list">
          <dt>phone:</dt>
          <dd><a href="tel:#">999-999-9999</a>
          </dd>
        </dl>
      </div>
      <div class="col-md-4 col-xl-3">

        <ul class="nav-list">
          <li><a href="#">Michael</a></li>
          <li><a href="#">Angela</a></li>
          <li><a href="#">Jorge</a></li>
          <li><a href="#">Kyle</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row no-gutters social-container">
    <div class="col"><a class="social-inner" href="#"><span
          class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
    <div class="col"><a class="social-inner" href="#"><span
          class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
    <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-twitter"></span><span>twitter</span></a>
    </div>
    <div class="col"><a class="social-inner" href="#"><span
          class="icon mdi mdi-youtube-play"></span><span>google</span></a></div>
  </div>
</footer>
</body>