<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="../assets/styles/parent.css">
<script src="../assets/js/parent.js"></script>

<header>
  <div class="nav1">
    <img src="../assets/images/logo_transparent.png" alt="">
    <h1>Blueprinting the Future</h1>
  </div>
  <nav>

    <div class="atag"><a href="/members">Home</a></div>
    <div class="atag"><a href="/logout">Logout</a></div>
  </nav>

</header>

<div class="inputAnyForm">
  <div class="actualForm">
    <div class="closeBtn"><i class="fas fa-times-circle"></i></div>
    <div class="myForm editRewards">
      <h3>Change Reward:</h3>
      <label for="rewardName">Reward Name</label><br>
      <input type="text" name="rewardName" id="rewardNameAdd"><br>
      <label for="rewardValue">Reward Value</label><br>
      <input type="text" name="rewardValue" id="rewardValueAdd"><br>
      <button class="btn btn-info formBtn editRewBtn">Send</button>
    </div>
    <div class="myForm addTask">
      <h3>Add Task:</h3>
      <label for="taskName">Task Name</label><br>
      <input type="text" name="taskName" id="taskNameAdd"><br>
      <label for="taskValue">Task Value</label><br>
      <input type="text" name="taskValue" id="taskValueAdd"><br>
      <label for="interations">Iterations</label><br>
      <input type="text" name="iterations" id="iterationsAdd"><br>
      <button class="btn btn-info formBtn addTaskBtn">Send</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="addKidArea">
        <button class="btn btn-primary addKid">Add Kid</button>
        <input type="text" name="kid" id="kidNameAdd">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="kidArea"></div>
    </div>
  </div>
</div>